/* ---------- TABLE OF CONTENTS ------ */

/* Color of active item */
.tocify-item.active {
    background-color: #353d42;
    border-color: #353d42;
}

.tocify-item.active:hover {
    background-color: #9e0062;
    border-color: #9e0062;
}

/* Color of non-active text when hovering */
.tocify-item:hover {
    color: #9e0062;
}

/* Thin side border on TOC list */
.tocify ul {
  float:left ;
  border-right: 1px solid #ccc; 
  border-left: 1px solid #ccc; 
}


/* ------------- MISC ----------------*/

/* Color of links for tabs - grey when inactive, LDNpurple if active/hover */

.nav a {
    color: #353d42;
}

.nav-tabs >li.active > a,
.nav-tabs >li.active > a:hover,
.nav-tabs >li.active > a:focus,
 .nav a:hover,
 .nav a:active  {
    color: #9e0062;
}

.nav-tabs >li.active > a,
.nav-tabs >li.active > a:hover,
.nav-tabs >li.active > a:focus,
a:hover,
a:active  {
    color: #9e0062;
}

/* Data box*/
.databox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #b4d6f2;
}

/* Info box*/
.infobox {
  padding: 1em 1em 1em 5em;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #f5f5f5 5px center/2.5em no-repeat;
}

.infobox p {
  margin-bottom:0;
  font-weight: bold;
  font-size: 13pt;
}

.info_symbol {
  background-image: url("./../FORMATTING/ICONS/more-info.svg");
}

.caution_symbol {
  background-image: url("./../FORMATTING/ICONS/circle-exclamation-solid.svg");
}

/* Quote box*/
.quotebox {
  padding: 1em 1em 1em 5em;
  margin-bottom: 5px;
  border-radius: 5px;
  background: 5px center/3.5em no-repeat;
}

.quotebox p {
  margin-bottom:0;
  font-style: italic;
}

.quote_symbol {
  background-image: url("./../FORMATTING/ICONS/double-quote-symbol.svg");
}

/* Input picker for highlight plotly */

.colourpicker,
.colourpicker.palette-limited.colourpicker-focus
.colourpicker-input {
	color: rgb(0,0,0,0) !important;
}

.colourpicker.element.style {
	color: rgb(0,0,0,0) !important;
}

/* Make leaflet map backgrounds white */
.leaflet-container {
    background: #FFF;
}


/* --------- Whole document: ------------ */
.main-container {
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-family: 'Arial';
  font-size: 14pt;
  color: rgb(53,61,66);
  line-height: 1.5em;
}

/* Color the background of selected text */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #9e0062;
}

::selection {
  color: white;
  background: #9e0062;
}

foot{
  font-family: 'Arial';
  font-size: 12pt;
  color: rgb(166,166,166);
  line-height: 1em;
}


p.caption{
    font-size: 12pt;
    color: rgb(166,166,166);
    line-height: 1em;
}

/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 7vh;
  font-family: Arial;
}


/* The title and information */
h1.title {
  font-size: 28pt;
  font-family: Arial;
  color: rgb(53,61,66);
}

h4.date {
  font-family: 'Arial';
  font-size: 18pt;
  color: rgb(53,61,66);
}

h4.author {
  font-family: 'Arial';
  font-size: 12pt;
  color: rgb(137,137,137);
}


/* Hyperlinks */
a {
  color: #337ab7;
}

.header {
  padding: 60px;
  text-align: center;
  background: #353D42
  color: white;
  font-size: 30px;
}

.tab-panel-ui {
  width:100%;
}


#section-arts {
  color: #6da7de !important;
}

.btn-default {
  min-width: 8vw;
  max-width: 8vw;
  background-color: #337ab7;
  color:white;
}


/* @media only screen and (max-width: 1500px)  { */
  
 
  .chart-title-buffer {
    margin-bottom: .8vh;
  } 
  
  .chart-subtitle-buffer {
    margin-bottom: -.6vh;
  } 
  
/*  .chart-buffer {
    margin-bottom: 1.2vh;
  } */
  
  
/* .chart-subtitle-buffer {
    margin-bottom: -5.5vh;
  } */
  
  .comp-ops-append {
    position: absolute; 
    top: 20vh;
    left: 3.2%; 
    z-index: 1;
  }
  
       .checkbox { /* checkbox is a div class*/
        line-height: 1vh !important;
        margin-bottom: 1vh !important; /*set the margin, so boxes don't overlap*/
      }
      input[type='checkbox']{ /* style for checkboxes */
        width: 1vh !important; /*Desired width*/
        height: 1vh !important; /*Desired height*/
        line-height: 1vh !important; 
      }
  
  .shiny-input-checkboxgroup.shiny-input-container-inline label~.shiny-options-group, .shiny-input-radiogroup.shiny-input-container-inline label~.shiny-options-group {
    margin-top: 0vh;
  }
  .shiny-input-checkboxgroup label~.shiny-options-group, .shiny-input-radiogroup label~.shiny-options-group {
    margin-top: 0vh;
  }
  body {
    font-family: 'Arial';
    font-size: 1.7vh;
    color: rgb(53, 61, 66);
    line-height: 1.7vh;
}


  
  
  .navbar.navbar-default.navbar-static-top {
    margin-top: .15vh;
    margin-left:-1vw;
    margin-bottom: .5vw;
    font-size: 3vh !important;
    min-height: 9vh;
    max-height: 9vh;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
    min-height: 9vh;
    max-height: 9vh;
  }
  .navbar-default .navbar-nav>li>a {
    line-height: 4.5vh;
  }

/*} */

 /* @media only screen and (min-width: 1081px) and (max-width: 1400px)  {
 
}
*/
 /*
@media only screen and (min-width: 1501px) {
  
  .chart-title-buffer {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }  
  .chart-subtitle-buffer {
    margin-bottom: -10vh;
  }  
  #arts_previous.btn.btn-default.action-button.shiny-bound-input {
    background-color: #e7e7e7;
    border-color: #f4f4f4;
    color: #555;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
    border-width:.05px;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
  }
  #arts_next.btn.btn-default.action-button.shiny-bound-input {
    background-color: #e7e7e7;
    border-color: #f4f4f4;
    color: #555;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
    border-width:.05px;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
  }
  .comp-ops-append {
    position: absolute; 
    top: 12.5vh;
    left: 2.2%; 
    z-index: 1;
  }
  .navbar.navbar-default.navbar-static-top {
    margin-top: .15vh;
    margin-left: -1vw;
    margin-bottom: .5vw;
    font-size: 1.8vh !important;
    min-height: 6vh;
    max-height: 6vh;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
    min-height: 6vh;
    max-height: 6vh;
  }
  .navbar-default .navbar-nav>li>a {
    line-height: 2.7vh;
  }
  
  
}

*/


.checkbox { /* checkbox is a div class*/
  line-height: 30px;
  margin-bottom: 40px; /*set the margin, so boxes don't overlap*/
}
input[type='checkbox']{ /* style for checkboxes */
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  line-height: 30px; 
}





.text-ui {
  width:100%;
  height:75%;
  padding-left:2vw;
  padding-top: 2.8vh;
  margin-top: 18vh;
  font-size: ;
}


.bt_default {
  background-color: #e7e7e7 !important;
  border-color: #f4f4f4 !important;
  color: #555 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
}

#arts_previous.btn.btn-default.action-button.shiny-bound-input {
    background-color: #e7e7e7;
    border-color: #f4f4f4;
    color: #555;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
    border-width:.05px;
    font-size: 1.8vh !important;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  #arts_next.btn.btn-default.action-button.shiny-bound-input {
    background-color: #e7e7e7;
    border-color: #f4f4f4;
    color: #555;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
    border-width:.05px;
    font-size: 1.8vh !important;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  }

#libraries_next.btn.btn-default.action-button.shiny-bound-input {
  background-color: #e7e7e7;
  border-color: #f4f4f4;
  color: #555;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
  font-size: 1.8vh !important;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#libraries_previous.btn.btn-default.action-button.shiny-bound-input {
  background-color: #e7e7e7;
  border-color: #f4f4f4;
  color: #555;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
  font-size: 1.8vh !important;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#heritage_next.btn.btn-default.action-button.shiny-bound-input {
  background-color: #e7e7e7;
  border-color: #f4f4f4;
  color: #555;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
  font-size: 1.8vh !important;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#heritage_previous.btn.btn-default.action-button.shiny-bound-input {
  background-color: #e7e7e7;
  border-color: #f4f4f4;
  color: #555;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
  font-size: 1.8vh !important;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#sport_next.btn.btn-default.action-button.shiny-bound-input {
  background-color: #e7e7e7;
  border-color: #f4f4f4;
  color: #555;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
  font-size: 1.8vh !important;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#sport_previous.btn.btn-default.action-button.shiny-bound-input {
  background-color: #e7e7e7;
  border-color: #f4f4f4;
  color: #555;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
  border-width:.05px;
  font-size: 1.8vh !important;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}




.fas.fa-arrow-down-long {
  font-size: 5vh;
  color: white;
  display: flex;
  justify-content: center;
}



.form-check-label-inline{margin-left:0}.awesome-checkbox{padding-left:20px}.awesome-checkbox label{display:inline-block;vertical-align:top;position:relative;padding-left:5px;font-weight:400;cursor:pointer;margin-bottom:0;font-size: 1.7vh;}



